@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}
body {
    height: 100vh;
    width: 100vw;
    background-image: url('../imagens/fundo-academia.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}
header {
    display: flex;
    padding: 30px;
    padding-left: 50px;
    font-variant: small-caps;
    background-color: black;
    color: white;
    font-size: 1.3em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.400);
    min-width: 200px;
}
@media (max-width:500px) {
    header > h1 {
        margin: auto;
    }
}
nav {
    position: sticky;
    top: 0px;
    padding: 20px;
    background-color: rgb(10, 10, 10);
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    text-align: end;
} 
@media (max-width:500px) {
    nav{
        display: flex;
        max-width: 400px;
        min-width: 300px;
        margin: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: white;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
        padding: auto;
        border-radius: 0px 0px 10px 10px;
    }
    nav > a {
        font-size: 0.9em;
    }
}
nav > a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}
nav > a:hover {
    background-color: red;
    border-radius: 10px;
    transition-duration: 0.3s;
    font-size: 1.1em;
}
h1#plano {
    text-align: center;
    padding: 50px;
    font-weight: 900;
    font-size: 3em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.500);
    color: white;
    display: block;
}
main {
    display: flex;
    width: 80%;
    gap: 15px;
    margin: auto;
    align-items: center;
    justify-content: center;
}
@media (max-width: 900px) {
    main {
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 15px;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
}
.cards {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-width: 300px;
    height: 500px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(40, 40, 40);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.700);
}
@media (max-width: 900px) {
    .cards {
        display: flex;
        width: 500px;
        max-height: 500px;
        color: white;
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(40, 40, 40);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.700);
    }
}
.planos {
    text-align: center;
    font-size: 2em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.500);
    padding-bottom: 10px;
}
.cards h3 {
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.500);
    font-size: 1.5em;
}
.cards ul {
    list-style-position: inside;
    list-style-type: '\2705\0020';
    padding: 10px;
}
.cards li {
    padding-bottom: 5px;
}
.cards a {
    font-weight: bold;
    color: white;
}
.cards:hover {
    background-color: rgb(55, 55, 55);
    transform: translate(-5px, -3px);
    transition-duration: 0.3s;
}
.assinatura {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: darkred;
    width: 200px;
    height: 50px;
    border-radius: 10px;

}
.assinatura:hover {
    font-size: 1.2em;
    background-color: red;
    cursor: pointer;
    transition-duration: 0.3s;
}
footer {
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bold;
}